*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/*inizio header*/
i{
   margin: 0px 5px;
}

.header-top{
    background-color: #255ee9;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_top{
    height: 30px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav{
    width: 90%;
}

nav ul{
    display: flex;
    justify-content: center;
    color: white;
}

nav ul li{
    list-style: none;
    margin: 0px 20px;
}

.container_bot{
    height: 700px;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
   margin: 30px 0px; 
}

.testo_header{
    height: 300px;
    width: 50%;
    text-align: center;
    color: white;
    font-size: 20px;
}
/*fine header*/

/*inizio main*/
.box_esterno{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenuto, .contenitore_blocchi{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contenuto2{    
    width: 20%;
}

.grigio{
    background-color: lightgrey
}

.diverso{
    height: 1000px;
    padding: 100px;
}

.contenuto_diverso{
    height: 600px;
    width: 40%;
    text-align: center;
    margin: auto;
}


.stelline{
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
}

/*fine main*/

/*inizio footer*/
.footer_top{
    background-color: #23272A;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    width: 15%;
    height: 450px;
}

.blocco_1{
    width: 40%;
    height: 450px;
    color: white;
}

ul li{
    color: white;
    list-style: none;
    padding: 10px;
    font-size: 17px;
}

.col li:first-child{
    color:#7289da;
}

.blocco_1 h1{
    color: #7289da;
    font-size: 70px;
}

.blocco_1 p img{
    height: 14px;
}

.footer_bot{
    background-color: #23272A;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.registrati{
    height: 100px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*fine footer*/


/*stile button*/
button{
    height: 50px;
    border-radius: 25px;
    padding: 15px;
}

.button1{
    border: #ffffff;
}

.button2{
    border: #23272a;
    background-color: #23272a;
    color: white;
}

.button_mac{
    background-color: #7289da;
    width: 250px;
    color: white;
    font-size: 20px;
}